<div class="div">
  <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
    <label for="fname">First Name</label>
    <input type="text" id="fname" formControlName="fname" placeholder="Ex. Vaishali" class="form" [ngClass]="{error: getControls('fname')?.errors && getControls('fname')?.touched} ">
    <div *ngIf="getControls('fname')?.errors && getControls('fname')?.touched">
      <small class="text-danger" *ngIf="getControls('fname')?.errors?.['required']">First name is required.</small>
      <small class="text-danger" *ngIf="getControls('fname')?.errors?.['minlength']">Only 13 characters are allowed.</small>
    </div>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" formControlName="lname" placeholder="Ex. Mehta" class="form" [ngClass]="{error: getControls('lname')?.errors && getControls('lname')?.touched}">
    <div *ngIf="getControls('lname')?.errors && getControls('lname')?.touched">
      <small class="text-danger" *ngIf="getControls('lname')?.errors?.['required']">Last name is required.</small>
      <small class="text-danger" *ngIf="getControls('lname')?.errors?.['minlength']">Only 13 characters are allowed.</small>
    </div>

    <label for="age">Age</label>
    <input type="number" id="age" formControlName="age" name="age" placeholder="Ex. 30" class="form" [ngClass]="{error: getControls('age')?.errors && getControls('age')?.touched}">
    <div *ngIf="getControls('age')?.errors && getControls('age')?.touched">
      <small class="text-danger" *ngIf="getControls('age')?.errors?.['required']">Age is required.</small>
      <small class="text-danger" *ngIf="getControls('age')?.errors?.['min'] || getControls('age')?.errors?.['max']">Age must be in between 18 years to 60 years.</small>
    </div>

    <label for="mobile">Mobile</label>
    <input type="text" id="mobile"formControlName="mobile" placeholder="Ex. 6354756***" class="form" [ngClass]="{ error: getControls('mobile')?.errors && getControls('mobile')?.touched}">
    <div *ngIf="getControls('mobile')?.errors && getControls('mobile')?.touched">
      <small class="text-danger" *ngIf="getControls('mobile')?.errors?.['required']">Mobile is required.</small>
      <small class="text-danger" *ngIf="getControls('mobile')?.errors?.['minlength'] || getControls('mobile')?.errors?.['maxlength'] || getControls('mobile')?.errors?.['pattern']">Please enter valid mobile number.</small>
    </div>

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Ex. abc@gmail.com" class="form" [ngClass]="{ error: getControls('email')?.errors && getControls('email')?.touched}">
    <div *ngIf="getControls('email')?.errors && getControls('email')?.touched">
      <small class="text-danger" *ngIf="getControls('email')?.errors?.['required']">Email is required.</small>
      <small class="text-danger" *ngIf="getControls('email')?.errors?.['maxlength']">Only 32 characters are allowed.</small>
      <small class="text-danger" *ngIf="getControls('email')?.errors?.['pattern']">Please enter valid email.</small>
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Ex. *****" class="form" [ngClass]="{ error: getControls('password')?.errors && getControls('password')?.touched}">
    <div *ngIf="getControls('password')?.errors && getControls('password')?.touched">
      <small class="text-danger" *ngIf="getControls('password')?.errors?.['required']">Password is required.</small>
      <small class="text-danger" *ngIf="getControls('password')?.errors?.['minlength'] || getControls('password')?.errors?.['maxlength']">Password should be minimum 5 and maximum 8 characters long.</small>
    </div>

    <label for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" formControlName="confirm_password" placeholder="Ex. *****" class="form" [ngClass]="{ error: getControls('confirm_password')?.errors && getControls('confirm_password')?.touched}">
    <div *ngIf="getControls('confirm_password')?.errors && getControls('confirm_password')?.touched">
      <small class="text-danger" *ngIf="getControls('confirm_password')?.errors?.['required']">Confirm password is required.</small>
      <small class="text-danger" *ngIf="getControls('confirm_password')?.errors?.['minlength'] || getControls('confirm_password')?.errors?.['maxlength']">Confirm password should be minimum 5 and maximum 8 characters long.</small>
    </div>
    <div *ngIf="myForm.errors?.['passwordMismatchError'] && getControls('confirm_password')?.touched">
      <small class="text-danger">Password mismatch</small>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>